# Byte-code
__pycache__/

# Virtual Environment
.venv/

# IDE specific files
.vscode/

# Environment variables
.env

# Data loader
TickerData.py
MarketData.py
SPYData.py

#SP500 analysis
PortfolioOptimisationSP500.py
market_analysis_data.pkl
